{% extends "layout.html" %}

{% block body %} 

    <!-- Banner -->
    <div class="pill">
        <img class="img-responsive" src="Images/ABOUT.jpg"/>
    </div>
    <br />
    <br />
    <br />


    <div class="kit container">
        <div class="col-sm-6 rest">
                <h2 align="center" class="tok"> OUR MISSION </h2>
            <p align="justify">
                Spot Clothing was founded with the goal of offering the modern men the best fitting dress he's
                ever worn (whatever environment he finds himself) and afterwards (wherever the night may take him), 
                the most efficient on-line shopping experience. Conceived and manufactured in Port-Harcourt City, our metropolitan style suits smart and cute men over the world .
                The line consists of cleanly cut, comfortable and sophisticated dresses that instantly transform from office
                wear to a playful uniform for post work revelry and vice-versa. 
            </p>
        </div>
        <div class="col-sm-6">
            
                <h2 align="center" class="tok">  OUR CLOTHES </h2>
            <p align="justify"> 
                It’s time to reclaim our manhood in the office and environment at large. Spot-Clothing doesnt exist just to sell our men clothes, but to make sure they feel & appear comfortable, 
                feel complete and get all the admiration from the women. Also know that all Spot-Clothing materials are original, stylish, well designed, comfortable, affordable, and made in Nigeria.
                <b> <mark> High Quality Clothing Materials </mark> </b> &nbsp; is our mantra.
            </p>

        </div>
    </div>
    <br />
    <br />


    <div class="ter">
        <div class="container" align="center">
            <h3 class="tik"> SPOT-MODELS </h3>
            <div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="animate bounce infinite" src="images/t.png" alt="Text of Image 1">
                        <div class="carousel-caption" align="center">
                        </div>
                    </div>
                    <div class="item">
                        <img class="animate rubberBand infinite" src="images/t2.png" alt="Text of Image 2">
                        <div class="carousel-caption" align="center">
                        </div>
                    </div>
                    
                </div>
                
            </div>
        
        </div>

    </div>
{% endblock %}	