<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> My Flask App </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

</head>
<body id="home1">

	<!-- jumbotron 
	<div class="jumbotron">
    </div>   -->
    <div class="container main" align="center">
        {% include "includes/_navbar.html" %}
        {% block body %} 
        
        {% endblock %}	

        <footer>		
            <div class="fixed-bottom footer">
                <div>
                    <p> <b>&copy 2019 </b> </p>
                </div>
                <a href = "Project.html"> PARTNERS </a> &nbsp;&nbsp;
                <a href = "Contact.html">CONTACT</a> &nbsp;&nbsp;
                <a href = "Index.html"> FAQ</a> &nbsp;&nbsp;
            </div>
        </footer>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>


</body>
</html>