{% extends "layout.html" %}

{% block body %} 
	<h1 id="logo"> LOG IN </h1>
	
	<form id="myform" class="lead" method="POST">
		<div class="animated slideInRight">
			<div class="form-group">
				<input class=" inp" type="text" name="email" placeholder="Email" value="{{request.form.email}}" required>
			</div> 
			<br>
			<div class="form-group"> 
				<input class=" inp" type="password" name="password" placeholder="Password" value="{{request.form.password}}" required>
			</div> 
			<br>
			<button class="btn btn-primary but" type="submit" name="submit"> Log in </button> 
			<br>
			<br>
			<p id="recover"> <a class="create" href="#"> Forgotten Password? </a></p>
			<br>
		</div>
	</form>
{% endblock %}	
